@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Bold.woff2") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BoldItalic.woff2") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BookItalic.woff2") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Book.woff2") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BookItalic.woff2") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Medium.woff2") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-MediumItalic.woff2") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Black.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
}
h1 {
  @include font-styles($secondaryColor, 2.5rem, 3rem, 700, 0, center);
}
h2 {
  @include font-styles($secondaryColor, 2rem, 2.4rem, 700, 0, center);
}
h4 {
  @include font-styles($secondaryColor, 1.5rem, 28.8px, 700, 0, center);
}
h6 {
  @include font-styles($secondaryColor, 1.4375rem, 1.4375rem, 700, 0, center);
}
p {
  @include font-styles($lightGrey, 1rem, 1.6rem, 400, 0, center);
}
