$lightGrey: #19182580;
$primaryColor: #fff;
$secondaryColor: #000;
$darkGrey: #222831;
$buttonColor: #5d50c6;
$textColor: #eeeeee;
$shadowMain: #0000000d;
$secondaryShadow: #00000003;
$telegramBgColor: #f85e9f;
$iconShadow: #00000017;
$profileBgcolor: #ff5722;
$giftShadow: #00000012;
$buttonShadow: #0000001a;
