@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Bold.woff2") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BoldItalic.woff2") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BookItalic.woff2") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Book.woff2") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-BookItalic.woff2") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Medium.woff2") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-MediumItalic.woff2") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../assets/fonts/CircularStd-Black.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

h2 {
  color: #000;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  color: #000;
  font-size: 1.75rem;
  line-height: 2.1rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

h4 {
  color: #000;
  font-size: 1.5rem;
  line-height: 28.8px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

h6 {
  color: #000;
  font-size: 1.4375rem;
  line-height: 1.4375rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}

p {
  color: rgba(25, 24, 37, 0.5019607843);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circular Std", "sans-serif";
}
body .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  margin: 2.0625rem 1rem;
  position: relative;
}
@media screen and (min-width: 64rem) {
  body .header {
    margin: 2rem 4rem;
  }
}
@media screen and (min-width: 90rem) {
  body .header {
    max-width: 74rem;
    margin: 2rem auto;
    width: 100%;
  }
}
body .header .circle {
  display: none;
}
@media screen and (min-width: 64rem) {
  body .header .circle {
    display: flex;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    opacity: 50%;
    top: -276px;
    left: -422px;
    filter: blur(200px);
    background: #ff5722;
  }
}
@media screen and (min-width: 90rem) {
  body .header .circle {
    display: none;
  }
}
body .header .hamburger-menu {
  display: none;
  width: 3rem;
  height: 3rem;
}
@media screen and (min-width: 64rem) {
  body .header .hamburger-menu {
    display: flex;
  }
}
@media screen and (min-width: 90rem) {
  body .header .hamburger-menu {
    display: none;
  }
}
body .header .hamburger-menu img {
  height: 100%;
  width: 100%;
}
body .header .logo {
  width: 8.875rem;
  height: 2.5rem;
}
body .header .logo img {
  width: 100%;
  height: 100%;
}
body .header ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  display: none;
}
@media screen and (min-width: 90rem) {
  body .header ul {
    display: flex;
  }
}
body .header ul li {
  list-style: none;
}
body .header ul li a {
  text-decoration: none;
  color: rgba(25, 24, 37, 0.5019607843);
  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: start;
}
body .header ul li a:hover {
  color: #222831;
}
body .header .button-listing {
  display: none;
}
@media screen and (min-width: 64rem) {
  body .header .button-listing {
    display: flex;
  }
}
body .header .button-listing button:nth-child(1) {
  color: #222831;
  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: start;
  padding: 1.0075rem 1.9688rem;
  border: none;
  background: transparent;
}
body .header .button-listing button:nth-child(2) {
  color: #eeeeee;
  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: start;
  background: #5d50c6;
  border-radius: 100px;
  padding: 1.0075rem 1.9438rem;
  border: none;
}
body .header .mobile-menu {
  width: 3rem;
  height: 3rem;
}
@media screen and (min-width: 64rem) {
  body .header .mobile-menu {
    display: none;
  }
}
body .header .mobile-menu img {
  height: 100%;
  width: 100%;
}
body .image-banner {
  padding: 2rem 0;
  position: relative;
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 64rem) {
  body .image-banner {
    max-width: 56.125rem;
    padding: 64px 0;
  }
}
@media screen and (min-width: 90rem) {
  body .image-banner {
    max-width: 74rem;
    padding: 64px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 0;
  }
}
body .image-banner .image-listing {
  height: 22.875rem;
  max-width: 24.75rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing {
    max-width: 48.25rem;
    height: 44.5625rem;
  }
}
body .image-banner .image-listing .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
body .image-banner .image-listing .image-wrapper > img:nth-child(1) {
  width: 21.1875rem;
  height: 8.75rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .image-wrapper > img:nth-child(1) {
    width: 41.25rem;
    height: 16.6875rem;
  }
}
body .image-banner .image-listing .image-wrapper > img:nth-child(2) {
  width: 5.3125rem;
  height: 7.0625rem;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .image-wrapper > img:nth-child(2) {
    width: 10.75rem;
    height: 15.25rem;
    transform: rotate(1deg);
    top: -23px;
    right: -11px;
  }
}
body .image-banner .image-listing .image-wrapper > img:nth-child(3) {
  width: 12.5rem;
  height: 6.6875rem;
  position: absolute;
  top: -0.4375rem;
  right: 5.5rem;
  transform: rotate(-2deg);
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .image-wrapper > img:nth-child(3) {
    width: 24.4375rem;
    height: 13.0625rem;
    top: -1.25rem;
    right: 10.125rem;
  }
}
body .image-banner .image-listing .image-wrapper > img:nth-child(4) {
  width: 7.375rem;
  height: 7.8125rem;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .image-wrapper > img:nth-child(4) {
    width: 14.375rem;
    height: 15.1875rem;
  }
}
body .image-banner .image-listing .gallery-listing {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  margin: 0 auto;
  height: 324px;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing {
    top: 7.9375rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery {
    gap: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery {
    position: absolute;
    right: 6.875rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.9375rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column {
    gap: 2rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper {
  position: relative;
  height: 9.625rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper {
    width: 17rem;
    height: 18.75rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper > img {
  width: 8.6875rem;
  height: 9.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper > img {
    width: 17rem;
    height: 18.75rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper .telegram {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #f85e9f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  bottom: -12px;
  left: -14px;
  box-shadow: 0px 9.75px 9.75px 0px rgba(0, 0, 0, 0.0901960784);
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper .telegram {
    width: 4rem;
    height: 4rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper .telegram img {
  height: 1rem;
  width: 1rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column .img-wrapper .telegram img {
    height: 2rem;
    width: 2rem;
    bottom: -2.0625rem;
    left: -2.1875rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .image-column .mountain-img {
  width: 8.6875rem;
  height: 9.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .image-column .mountain-img {
    width: 17rem;
    height: 18.75rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image {
  position: relative;
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image img {
  width: 8.6875rem;
  height: 12.8125rem;
  border-radius: 32px;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image img {
    width: 17rem;
    height: 25rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label {
  position: absolute;
  bottom: 1.5rem;
  right: -3.3125rem;
  width: 5.3256rem;
  height: 1.7969rem;
  background: #fff;
  border-radius: 51.33px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  padding: 0 0.625rem;
  box-shadow: 0px 22.07px 13.35px 0px rgba(0, 0, 0, 0.0509803922);
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label {
    width: 10.375rem;
    height: 3.5rem;
    bottom: 2.9375rem;
    right: -6.25rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label img {
  width: 0.77rem;
  height: 0.77rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label span {
  color: #222831;
  font-size: 0.4494rem;
  line-height: 0.4763rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: start;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image .label span {
    font-size: 0.875rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image .profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ff5722;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  bottom: -3.5625rem;
  right: 4.0625rem;
  box-shadow: 0px 9.75px 9.75px 0px rgba(0, 0, 0, 0.0901960784);
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image .profile {
    width: 4rem;
    height: 4rem;
    bottom: -7.625rem;
    right: 8rem;
  }
}
body .image-banner .image-listing .gallery-listing .image-gallery .label-image .profile img {
  height: 1rem;
  width: 1rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .image-listing .gallery-listing .image-gallery .label-image .profile img {
    height: 2rem;
    width: 2rem;
  }
}
body .image-banner .content-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 2rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 90rem) {
  body .image-banner .content-listing {
    margin-top: 0;
    width: 25.75rem;
  }
}
body .image-banner .content-listing .label {
  width: 14rem;
  height: 3.5rem;
  border-radius: 6.25rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 34px 75px 0px rgba(0, 0, 0, 0.0705882353);
}
body .image-banner .content-listing .label span {
  color: #f85e9f;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}
body .image-banner .content-listing .label img {
  width: 1.5rem;
  height: 1.5rem;
}
body .image-banner .content-listing h1 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing h1 {
    font-size: 3.5rem;
    line-height: 4.1875rem;
    width: 35.4375rem;
    margin-top: 2.625rem;
  }
}
@media screen and (min-width: 90rem) {
  body .image-banner .content-listing h1 {
    width: 100%;
    margin-top: 2.625rem;
  }
}
body .image-banner .content-listing h1 span {
  color: #f85e9f;
}
body .image-banner .content-listing p {
  margin-top: 24px;
  font-family: "inter", "sans-serif";
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 28.125rem;
    margin-top: 2.6875rem;
  }
}
@media screen and (min-width: 90rem) {
  body .image-banner .content-listing p {
    width: 100%;
  }
}
body .image-banner .content-listing .button-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing .button-listing {
    margin-top: 2.6875rem;
    flex-direction: row;
    gap: 1rem;
    width: 21.125rem;
  }
}
body .image-banner .content-listing .button-listing button {
  color: #eeeeee;
  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  padding: 25px 0;
  width: 100%;
  border: none;
  background-color: #5d50c6;
  border-radius: 100px;
  box-shadow: 0px 45px 27px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing .button-listing button {
    padding: auto;
    width: 8.8125rem;
    height: 3.0625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
body .image-banner .content-listing .button-listing .demo {
  padding: 1.3125rem 0;
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2188rem;
}
@media screen and (min-width: 64rem) {
  body .image-banner .content-listing .button-listing .demo {
    width: 11.3125rem;
    height: 3.5rem;
  }
}
body .image-banner .content-listing .button-listing .demo img {
  height: 1.5rem;
  width: 1.5rem;
}
body .image-banner .content-listing .button-listing .demo input {
  border: none;
  background: transparent;
  color: #222831;
  font-size: 0.875rem;
  line-height: 1.05rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}
body .brand-listing {
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6875rem;
  padding: 2rem 0;
  position: relative;
}
@media screen and (min-width: 64rem) {
  body .brand-listing {
    margin-top: 2rem;
    padding: 4rem 0;
    max-width: 35.4681rem;
  }
}
@media screen and (min-width: 90rem) {
  body .brand-listing {
    max-width: 74rem;
    gap: 6.125rem;
    margin-top: 0;
  }
}
body .brand-listing img:nth-child(1) {
  width: 8.25rem;
  height: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(1) {
    width: 13.2394rem;
    height: 2rem;
  }
}
body .brand-listing img:nth-child(2) {
  width: 4.4162rem;
  height: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(2) {
    width: 7.0663rem;
    height: 2rem;
  }
}
body .brand-listing img:nth-child(3) {
  width: 7.3675rem;
  height: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(3) {
    width: 11.7875rem;
    height: 2rem;
  }
}
body .brand-listing img:nth-child(4) {
  width: 4.005rem;
  height: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(4) {
    width: 6.4081rem;
    height: 2rem;
  }
}
body .brand-listing img:nth-child(5) {
  width: 6.78rem;
  height: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(5) {
    width: 173.57px;
    height: 2rem;
  }
}
body .brand-listing img:nth-child(6) {
  display: none;
}
@media screen and (min-width: 64rem) {
  body .brand-listing img:nth-child(6) {
    display: flex;
    position: absolute;
    top: -224px;
    left: -182px;
    width: 4.0625rem;
    height: 10.5625rem;
  }
}
@media screen and (min-width: 90rem) {
  body .brand-listing img:nth-child(6) {
    top: -104px;
    left: -85px;
  }
}
body .services-section {
  overflow-x: auto;
}
body .services-section::-webkit-scrollbar {
  height: 0;
  width: 0;
}
body .services-section .services {
  max-width: 24.875rem;
  width: 100%;
  margin: 2rem auto;
}
@media screen and (min-width: 64rem) {
  body .services-section .services {
    max-width: 56rem;
    margin-top: 0;
    padding: 4rem 0;
  }
}
@media screen and (min-width: 90rem) {
  body .services-section .services {
    max-width: 96rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 0 4rem 8rem;
  }
}
@media screen and (min-width: 64rem) {
  body .services-section .services .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
  }
}
@media screen and (min-width: 90rem) {
  body .services-section .services .content {
    width: 27.75rem;
    justify-content: start;
    align-items: start;
  }
}
body .services-section .services .content span {
  display: block;
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
}
@media screen and (min-width: 64rem) {
  body .services-section .services .content span {
    font-size: 1.4375rem;
    line-height: 1.725rem;
  }
}
body .services-section .services .content h2 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .services-section .services .content h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 64rem) {
  body .services-section .services .content h2 {
    text-align: start;
  }
}
body .services-section .services .card-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 64rem) {
  body .services-section .services .card-listing {
    margin-top: 4rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 64rem) and (min-width: 90rem) {
  body .services-section .services .card-listing {
    width: 100%;
  }
}
body .services-section .services .card-listing .card {
  border: 1px solid rgba(25, 24, 37, 0.1019607843);
  border-radius: 2rem;
  padding: 1.9563rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .services-section .services .card-listing .card:hover {
  border: none;
  box-shadow: 0px 41px 89px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (min-width: 64rem) {
  body .services-section .services .card-listing .card {
    padding: 4rem 4rem 2.1875rem;
    width: 18rem;
  }
}
@media screen and (min-width: 90rem) {
  body .services-section .services .card-listing .card {
    width: 21.875rem;
    height: 27.6875rem;
    padding: 4rem;
  }
}
body .services-section .services .card-listing .card img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 64rem) {
  body .services-section .services .card-listing .card h4 {
    margin-top: 2rem;
    font-size: 1.75rem;
    line-height: 2.1rem;
  }
}
body .services-section .services .card-listing .card p {
  font-family: "Inter", "sans-serif";
  font-size: 1.125rem;
  line-height: 1.8rem;
}
body .destination {
  padding: 32px 0;
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 64rem) {
  body .destination {
    max-width: 56rem;
    padding: 4rem 0;
  }
}
@media screen and (min-width: 90rem) {
  body .destination {
    max-width: 74rem;
  }
}
@media screen and (min-width: 90rem) {
  body .destination .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 0.625rem;
  }
}
body .destination .content .heading span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
}
@media screen and (min-width: 64rem) {
  body .destination .content .heading span {
    font-size: 1.4375rem;
    line-height: 1.725rem;
  }
}
@media screen and (min-width: 90rem) {
  body .destination .content .heading span {
    text-align: left;
    justify-content: start;
  }
}
body .destination .content .heading h2 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .destination .content .heading h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  body .destination .content .heading h2 {
    text-align: left;
  }
}
body .destination .content .button-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 64rem) {
  body .destination .content .button-listing {
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }
}
body .destination .content .button-listing .button {
  height: 4rem;
  width: 4rem;
  border: 0.0625rem solid rgba(25, 24, 37, 0.1019607843);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 50%;
}
@media screen and (min-width: 64rem) {
  body .destination .content .button-listing .button {
    width: 6.25rem;
    height: 6.25rem;
  }
}
body .destination .content .button-listing .button:hover {
  background: #5d50c6;
  border: none;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.0705882353);
}
body .destination .content .button-listing .button:hover img {
  filter: brightness(0) invert(1);
}
body .destination .content .button-listing .button img {
  filter: brightness(10) invert(1);
}
@media screen and (min-width: 64rem) {
  body .destination .content .button-listing .button img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
body .destination .card-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
@media screen and (min-width: 64rem) {
  body .destination .card-listing {
    flex-direction: row;
  }
}
@media screen and (min-width: 64rem) and (min-width: 64rem) {
  body .destination .card-listing {
    margin-top: 4.1875rem;
  }
}
body .destination .card-listing .card {
  box-shadow: 0px 32px 71px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 32px;
  width: 24.875rem;
  height: 35.9375rem;
}
@media screen and (min-width: 64rem) {
  body .destination .card-listing .card {
    width: 17.375rem;
  }
}
@media screen and (min-width: 90rem) {
  body .destination .card-listing .card {
    width: 23.3331rem;
  }
}
body .destination .card-listing .card img {
  width: 24.875rem;
  height: 19.625rem;
  border-radius: 32px 32px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 64rem) {
  body .destination .card-listing .card img {
    width: 17.375rem;
  }
}
@media screen and (min-width: 90rem) {
  body .destination .card-listing .card img {
    width: 23.3331rem;
  }
}
body .destination .card-listing .card .description {
  padding: 2.3125rem;
}
@media screen and (min-width: 90rem) {
  body .destination .card-listing .card .description .price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 0.625rem;
  }
}
body .destination .card-listing .card .description .price span {
  color: #f85e9f;
  font-size: 1.4375rem;
  line-height: 1.725rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}
body .destination .card-listing .card .description .price h6 {
  margin-top: 0.5rem;
  text-align: left;
}
body .destination .card-listing .card .description p {
  margin-top: 1rem;
  text-align: left;
  color: rgba(25, 24, 37, 0.7490196078);
}
body .destination .card-listing .card .description .rating {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
body .destination .card-listing .card .description .rating span {
  color: #ff5722;
  font-size: 1.4375rem;
  line-height: 1.725rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: start;
}
body .destination .card-listing .card .description .rating img {
  height: 1.5rem;
  width: 1.5rem;
}
body .travel-point {
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}
@media screen and (min-width: 64rem) {
  body .travel-point {
    max-width: 56rem;
    padding: 4rem 0;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point {
    max-width: 82rem;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0;
  }
}
body .travel-point .image-wrapper {
  width: 24.875rem;
  height: 19.875rem;
}
@media screen and (min-width: 64rem) {
  body .travel-point .image-wrapper {
    width: 54.4375rem;
    height: 43.5625rem;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point .image-wrapper {
    width: 54.4375rem;
    height: 43.5625rem;
  }
}
body .travel-point .image-wrapper img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 64rem) {
  body .travel-point .content {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point .content {
    max-width: 27.5625rem;
  }
}
body .travel-point .content span {
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  display: block;
}
@media screen and (min-width: 64rem) {
  body .travel-point .content span {
    font-size: 1.4375rem;
    line-height: 1.725rem;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point .content span {
    text-align: left;
  }
}
body .travel-point .content h2 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .travel-point .content h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point .content h2 {
    text-align: left;
  }
}
body .travel-point .content > p {
  font-family: "Inter", "sans-serif";
  margin-top: 2rem;
  color: rgba(25, 24, 37, 0.5019607843);
  font-weight: 400;
}
@media screen and (min-width: 90rem) {
  body .travel-point .content > p {
    text-align: left;
  }
}
body .travel-point .content .card-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 64rem) {
  body .travel-point .content .card-listing {
    justify-content: start;
    align-items: start;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
}
body .travel-point .content .card-listing .card {
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1019607843);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.9688rem 0;
}
@media screen and (min-width: 64rem) {
  body .travel-point .content .card-listing .card {
    width: 25rem;
    height: 9.4375rem;
  }
}
@media screen and (min-width: 90rem) {
  body .travel-point .content .card-listing .card {
    width: 12.7813rem;
  }
}
body .travel-point .content .card-listing .card h4 {
  color: #ff5722;
  font-size: 2.1875rem;
  line-height: 2.625rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
}
body .travel-point .content .card-listing .card p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #000;
}
body .key-features {
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media screen and (min-width: 64rem) {
  body .key-features {
    max-width: 56rem;
    padding: 4rem 0;
  }
}
@media screen and (min-width: 90rem) {
  body .key-features {
    max-width: 82rem;
    margin: 0 0 0 auto;
    flex-direction: row-reverse;
    align-items: start;
    gap: 4.5rem;
  }
}
body .key-features > .image-wrapper {
  margin: 0 auto;
  max-width: 21.875rem;
  height: 27.375rem;
}
@media screen and (min-width: 64rem) {
  body .key-features > .image-wrapper {
    max-width: 43.3125rem;
    height: 54.3125rem;
  }
}
body .key-features > .image-wrapper img {
  width: 100%;
  height: 100%;
}
body .key-features .content {
  max-width: 20.875rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 64rem) {
  body .key-features .content {
    max-width: 52rem;
  }
}
@media screen and (min-width: 90rem) {
  body .key-features .content {
    max-width: 34.3125rem;
  }
}
body .key-features .content span {
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  display: block;
}
@media screen and (min-width: 64rem) {
  body .key-features .content span {
    font-size: 1.4375rem;
    line-height: 1.725rem;
  }
}
@media screen and (min-width: 90rem) {
  body .key-features .content span {
    text-align: left;
  }
}
body .key-features .content h2 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .key-features .content h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  body .key-features .content h2 {
    text-align: left;
  }
}
body .key-features .content p {
  margin-top: 2rem;
  font-weight: 500;
}
@media screen and (min-width: 64rem) {
  body .key-features .content p {
    font-size: 18px;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 90rem) {
  body .key-features .content p {
    text-align: left;
  }
}
body .key-features .content .card-listing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
body .key-features .content .card-listing .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 100%;
  height: 18.125rem;
  padding: 2rem;
}
@media screen and (min-width: 64rem) {
  body .key-features .content .card-listing .card {
    height: 10.25rem;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1.0938rem;
  }
}
body .key-features .content .card-listing .card:hover {
  border: 1px solid rgba(25, 24, 37, 0.1019607843);
  border-radius: 2rem;
}
body .key-features .content .card-listing .card:nth-child(2) > .image-wrapper {
  background: #facd49;
}
body .key-features .content .card-listing .card:nth-child(3) > .image-wrapper {
  background-color: #f85e9f;
}
body .key-features .content .card-listing .card .image-wrapper {
  margin: 0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 32px;
  background-color: #ff5722;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
body .key-features .content .card-listing .card .image-wrapper img {
  width: 3rem;
  height: 3rem;
}
body .key-features .content .card-listing .card .description h6 {
  text-align: left;
}
body .key-features .content .card-listing .card .description p {
  margin-top: 0.5rem;
  text-align: left;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section {
    position: relative;
  }
}
body .testimonial-section > img {
  display: none;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section > img {
    display: block;
    position: absolute;
    top: -291px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1169px;
  }
}
@media screen and (min-width: 64rem) and (min-width: 90rem) {
  body .testimonial-section > img {
    height: 80.5625rem;
  }
}
body .testimonial-section .testimonial {
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial {
    max-width: 56rem;
    padding: 4rem 0;
    position: relative;
  }
}
@media screen and (min-width: 90rem) {
  body .testimonial-section .testimonial {
    max-width: 74rem;
  }
}
body .testimonial-section .testimonial > span {
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  display: block;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial > span {
    font-size: 1.4375rem;
    line-height: 1.725rem;
  }
}
body .testimonial-section .testimonial h2 {
  margin-top: 1rem;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
body .testimonial-section .testimonial .image-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial .image-wraper {
    margin-top: 3.5rem;
  }
}
body .testimonial-section .testimonial .image-wraper > img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
body .testimonial-section .testimonial h3 {
  margin-top: 4rem;
  color: rgba(25, 24, 37, 0.7490196078);
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial h3 {
    margin-top: 3.5rem;
    font-size: 1.75rem;
    line-height: 2.0625rem;
  }
}
body .testimonial-section .testimonial h3 span {
  font-weight: 800;
  color: #ff5722;
}
body .testimonial-section .testimonial .image-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .testimonial-section .testimonial .image-wrapper img {
  width: 2rem;
  height: 2rem;
}
body .testimonial-section .testimonial p {
  margin-top: 4rem;
  font-weight: 500;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial p {
    margin: 3.5rem auto 0;
    max-width: 36.5rem;
    font-size: 1.4375rem;
    line-height: 2.25rem;
  }
}
body .testimonial-section .testimonial .pagination {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial .pagination {
    margin-top: 3.5rem;
  }
}
body .testimonial-section .testimonial .pagination span {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: rgba(25, 24, 37, 0.0509803922);
}
body .testimonial-section .testimonial .pagination span:hover {
  background: #f85e9f;
}
body .testimonial-section .testimonial .controls {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial .controls {
    margin: 0;
  }
}
body .testimonial-section .testimonial .controls .img-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 4rem;
  width: 4rem;
  border: 0.0625rem solid rgba(25, 24, 37, 0.1019607843);
  border-radius: 50%;
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial .controls .img-wrapper:nth-child(1) {
    margin: 0;
    position: absolute;
    top: 47%;
    left: 0;
  }
}
@media screen and (min-width: 64rem) {
  body .testimonial-section .testimonial .controls .img-wrapper:nth-child(2) {
    margin: 0;
    position: absolute;
    top: 47%;
    right: 0;
  }
}
body .testimonial-section .testimonial .controls .img-wrapper:hover {
  background: #5d50c6;
  border: none;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.0705882353);
}
body .testimonial-section .testimonial .controls .img-wrapper:hover img {
  filter: brightness(0) invert(1);
}
body .testimonial-section .testimonial .controls .img-wrapper img {
  filter: brightness(10) invert(1);
}
body .newsletter {
  max-width: 24.875rem;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  border-radius: 2rem;
  background-color: rgba(250, 205, 73, 0.0784313725);
  position: relative;
}
@media screen and (min-width: 64rem) {
  body .newsletter {
    max-width: 55.875rem;
    padding: 8rem 4rem;
  }
}
@media screen and (min-width: 90rem) {
  body .newsletter {
    max-width: 74rem;
  }
}
body .newsletter > img {
  display: none;
}
@media screen and (min-width: 64rem) {
  body .newsletter > img {
    display: block;
    width: 11.4375rem;
    height: 11rem;
    position: absolute;
    top: -39px;
    left: -58px;
  }
}
body .newsletter span {
  color: #f85e9f;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-align: center;
  display: block;
}
@media screen and (min-width: 64rem) {
  body .newsletter span {
    font-size: 1.4375rem;
    line-height: 27.6px;
  }
}
body .newsletter h2 {
  margin-top: 2rem;
}
@media screen and (min-width: 64rem) {
  body .newsletter h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  body .newsletter h2 {
    font-size: 3.4375rem;
    line-height: 4.125rem;
  }
}
body .newsletter .input-listing {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 64rem) {
  body .newsletter .input-listing {
    flex-direction: row;
  }
}
@media screen and (min-width: 90rem) {
  body .newsletter .input-listing {
    gap: 4rem;
  }
}
body .newsletter .input-listing .email {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
}
@media screen and (min-width: 64rem) {
  body .newsletter .input-listing .email {
    width: 31.375rem;
    height: 6rem;
    border-radius: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  body .newsletter .input-listing .email {
    width: 47.3125rem;
  }
}
body .newsletter .input-listing .email img {
  height: 1.5rem;
  width: 1.5rem;
}
body .newsletter .input-listing .email input {
  border: none;
  background: transparent;
}
body .newsletter .input-listing .email input:focus {
  outline: none;
}
body .newsletter .input-listing button {
  color: #fff;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  background-color: #5d50c6;
  border: none;
  padding: 1.5rem;
  border-radius: 16px;
}
@media screen and (min-width: 64rem) {
  body .newsletter .input-listing button {
    width: 14.6875rem;
    height: 6rem;
    border-radius: 2rem;
  }
}
body footer {
  position: relative;
  overflow: hidden;
}
body footer > img {
  display: none;
}
@media screen and (min-width: 64rem) {
  body footer > img {
    display: block;
    position: absolute;
    top: 0;
    right: -8.75rem;
    width: 20.75rem;
    height: 21.9375rem;
  }
}
body footer .footer-listing {
  max-width: 24.875rem;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing {
    max-width: 56.0625rem;
    padding: 4rem 0;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 90rem) {
  body footer .footer-listing {
    max-width: 74rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 90rem) {
  body footer .footer-listing .information {
    width: 35rem;
  }
}
body footer .footer-listing .information .logo {
  width: 8.875rem;
  height: 2.5rem;
}
body footer .footer-listing .information .logo img {
  width: 100%;
  height: 100%;
}
body footer .footer-listing .information p {
  margin-top: 2rem;
  text-align: left;
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 500;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing .information p {
    font-size: 1.4375rem;
    line-height: 2.3rem;
  }
}
body footer .footer-listing .information ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
@media screen and (min-width: 90rem) {
  body footer .footer-listing .information ul {
    margin-top: 4rem;
  }
}
body footer .footer-listing .information ul li {
  list-style: none;
}
body footer .footer-listing .information ul li a {
  text-decoration: none;
}
body footer .footer-listing .information ul li a img {
  width: 2rem;
  height: 2rem;
}
body footer .footer-listing .menu-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing .menu-listing {
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  body footer .footer-listing .menu-listing {
    justify-content: end;
    width: 35rem;
  }
}
body footer .footer-listing .menu-listing .menu {
  width: 100%;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing .menu-listing .menu {
    width: 17.3125rem;
  }
}
@media screen and (min-width: 90rem) {
  body footer .footer-listing .menu-listing .menu {
    width: 10.3331rem;
  }
}
body footer .footer-listing .menu-listing .menu h6 {
  line-height: 1.6875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
body footer .footer-listing .menu-listing .menu h6 img {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing .menu-listing .menu h6 img {
    display: none;
  }
}
body footer .footer-listing .menu-listing .menu ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  display: none;
}
@media screen and (min-width: 64rem) {
  body footer .footer-listing .menu-listing .menu ul {
    display: flex;
  }
}
body footer .footer-listing .menu-listing .menu ul li {
  list-style: none;
}
body footer .footer-listing .menu-listing .menu ul li a {
  text-decoration: none;
  color: rgba(25, 24, 37, 0.7490196078);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}/*# sourceMappingURL=import.css.map */